@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

/* Define color variables in Tailwind config */
html,
body {
    @apply min-h-screen m-0 p-0 bg-gradient-to-b from-neutral-50 via-purple-50 to-blue-50 dark:from-neutral-900 dark:via-gray-800 dark:to-black;
}

.bg-grid-indigo {
    @apply bg-[length:20px_20px];
    background-image: linear-gradient(to right, rgba(99, 102, 241, 0.1) 1px, transparent 1px),
        linear-gradient(to bottom, rgba(99, 102, 241, 0.1) 1px, transparent 1px);
}

.blob {
    @apply pointer-events-none;
}

.loader {
    @apply inline-block w-6 h-6;
}

.loader .circular {
    @apply animate-[rotate_2s_linear_infinite] h-full w-full;
}

.loader .path {
    @apply stroke-primary;
    stroke-linecap: round;
    animation: dash 1.5s ease-in-out infinite;
}

@keyframes float {
    0% { transform: translateY(0); }
    50% { transform: translateY(-20px); }
    100% { transform: translateY(0); }
}

@keyframes rotate {
    100% { transform: rotate(360deg); }
}

@keyframes dash {
    0% { stroke-dasharray: 1, 150; stroke-dashoffset: 0; }
    50% { stroke-dasharray: 90, 150; stroke-dashoffset: -35; }
    100% { stroke-dasharray: 90, 150; stroke-dashoffset: -124; }
}